@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Rubik', sans-serif;
  padding-inline: 128px; }

@media screen and (max-width: 700px) {
  body {
    padding-inline: 0px; } }
.hidden-menu, .hidden-profile-card, .hidden-profile-card .profile-header .profile-bio .profile-image, .my-jobs, .my-jobs .job-item .job-request-response .acknowl-btn button, .main .left-col .standby-profile, .main .left-col .standby-profile .standby-profile-pictures .standby-profile-image, .main .left-col .standby-profile .about-user button, .main .center-col .event-item, .main .center-col .event-item-header-two .org-info .profile-image, .main .center-col .event-card-actions .apply-btn {
  box-shadow: 0px 0px 8px 2px rgba(128, 128, 128, 0.5); }

.my-jobs .job-item .job-request-response {
  box-shadow: 0px 2px 6px 2px rgba(128, 128, 128, 0.08); }

.nav-list .profilePicture {
  box-shadow: 0px 0px 2px 1px rgba(128, 128, 128, 0.08); }

.hidden-profile-card .close-profile-btn:hover {
  cursor: pointer; }

.main .left-col .standby-profile, .main .center-col .search {
  border-radius: 8px; }

.main .center-col .event-item-header-one .follow-btn {
  border: none;
  background-color: white;
  color: #0F6C07;
  font-size: 14px;
  font-weight: 500; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 30px; }
  .header #logo {
    font-size: 32px;
    color: #0F6C07;
    font-weight: 600;
    font-family: "Rubik", sans-serif; }
  .header #menuIcon {
    display: none;
    font-size: 32px;
    font-weight: 600;
    color: black; }
  .header #menuIcon {
    cursor: pointer; }

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 42px; }
  .nav-list li {
    list-style: none; }
    .nav-list li a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none; }
      .nav-list li a .menu-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-items: center;
        grid-column-gap: 6px; }
        .nav-list li a .menu-name p {
          font-size: 14px;
          line-height: 18px;
          color: black;
          font-weight: 400;
          font-family: "Rubik", sans-serif;
          color: #6E6E6E; }
        .nav-list li a .menu-name span {
          font-size: 20px;
          font-weight: 500;
          height: 20px;
          padding: 0px; }
    .nav-list li a:hover {
      cursor: pointer; }
      .nav-list li a:hover span {
        color: #0F6C07; }
      .nav-list li a:hover p {
        color: #0F6C07; }
    .nav-list li .itemIcon {
      font-size: 32px;
      color: #6E6E6E; }
  .nav-list .profilePicture {
    width: 32px;
    height: auto;
    border-radius: 50%; }

.hidden-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: fit-content;
  height: 100%;
  border: 0.5px solid #6E6E6E;
  padding-inline: 16px;
  background-color: white;
  border-radius: 8px 0px 0px 8px; }
  .hidden-menu .nav-list {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    grid-row-gap: 30px; }
  .hidden-menu .close-hidden-menu {
    color: black;
    font-size: 32px;
    position: absolute; }
  .hidden-menu .close-hidden-menu:hover {
    cursor: pointer; }

@media screen and (max-width: 1024px) {
  body {
    padding-inline: 4px; }

  .header .nav-list {
    display: none; }
  .header #menuIcon {
    display: block; } }
.hidden-profile-card {
  background-color: white;
  border-radius: 8px 0px 0px 8px;
  position: fixed;
  top: 10;
  right: 0;
  max-width: 570px;
  z-index: 500; }
  .hidden-profile-card .hidden-profile-card-inner {
    padding-bottom: 150px;
    max-height: 100vh;
    overflow-y: auto; }
  .hidden-profile-card .close-profile-btn {
    font-size: 34px;
    color: #6E6E6E;
    position: absolute; }
  .hidden-profile-card .profile-header .backdrop {
    width: 100%;
    max-height: 166px; }
  .hidden-profile-card .profile-header .profile-bio {
    display: flex;
    justify-content: none;
    align-items: center;
    grid-column-gap: 12px; }
    .hidden-profile-card .profile-header .profile-bio figure {
      padding-left: 12px; }
    .hidden-profile-card .profile-header .profile-bio .profile-image {
      max-width: 127px;
      width: 100%;
      height: auto;
      margin-top: -64px;
      border-radius: 50%; }
    .hidden-profile-card .profile-header .profile-bio .about-user {
      display: flex;
      flex-direction: column;
      grid-row-gap: 8px; }
      .hidden-profile-card .profile-header .profile-bio .about-user h3 {
        font-size: 24px;
        color: black;
        font-weight: 600;
        font-family: "Rubik", sans-serif; }
      .hidden-profile-card .profile-header .profile-bio .about-user #about-me {
        max-width: 400px; }
      .hidden-profile-card .profile-header .profile-bio .about-user p {
        font-size: 14px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
      .hidden-profile-card .profile-header .profile-bio .about-user span {
        font-size: 14px;
        line-height: 18px;
        color: #0F6C07;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
  .hidden-profile-card .addressing {
    padding-inline: 12px; }
    .hidden-profile-card .addressing .group-input {
      display: flex;
      justify-content: none;
      align-items: center;
      align-items: center;
      margin-bottom: 24px; }
      .hidden-profile-card .addressing .group-input .input-item {
        flex-basis: 40%; }
        .hidden-profile-card .addressing .group-input .input-item label {
          font-size: 12px;
          line-height: 18px;
          color: #6E6E6E;
          font-weight: 400;
          font-family: "Rubik", sans-serif; }
        .hidden-profile-card .addressing .group-input .input-item p {
          font-size: 16px;
          line-height: 18px;
          color: black;
          font-weight: 500;
          font-family: "Rubik", sans-serif;
          margin-top: 6px; }
  .hidden-profile-card .gallery {
    padding-inline: 12px; }
    .hidden-profile-card .gallery .gallery-title p {
      font-size: 12px;
      line-height: 18px;
      color: #6E6E6E;
      font-weight: 400;
      font-family: "Rubik", sans-serif; }
    .hidden-profile-card .gallery .gallery-items {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-column-gap: 6px;
      margin-top: 6px; }
      .hidden-profile-card .gallery .gallery-items .gallery-item {
        width: 100%;
        max-width: 245px;
        height: auto; }
  .hidden-profile-card .about-you {
    padding-inline: 12px; }
    .hidden-profile-card .about-you .about-title {
      font-size: 12px;
      line-height: 18px;
      color: #6E6E6E;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      margin-top: 16px; }
    .hidden-profile-card .about-you .full-about-me {
      font-size: 14px;
      line-height: 18px;
      color: black;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      margin-top: 6px; }
  .hidden-profile-card .settings {
    padding-inline: 12px;
    margin-top: 32px; }
    .hidden-profile-card .settings a {
      text-decoration: none; }
    .hidden-profile-card .settings .setting-item {
      display: flex;
      align-items: center;
      grid-column-gap: 16px; }
      .hidden-profile-card .settings .setting-item span {
        font-size: 24px;
        color: #6E6E6E; }
      .hidden-profile-card .settings .setting-item p {
        font-size: 12px;
        line-height: 18px;
        color: black;
        font-weight: 500;
        font-family: "Rubik", sans-serif; }

@media screen and (max-width: 576px) {
  .hidden-profile-card {
    max-width: 400px; } }
.line {
  margin-block: 16px; }

.card-title {
  font-size: 24px;
  color: black;
  font-weight: 600;
  font-family: "Rubik", sans-serif; }

.my-jobs {
  position: fixed;
  top: 10;
  right: 0;
  padding: 32px 24px 170px 32px;
  background-color: white;
  border-radius: 8px 0px 0px 8px;
  min-width: 570px;
  max-width: 570px; }
  .my-jobs .my-jobs-inner {
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: auto; }
  .my-jobs .close-jobs-btn {
    font-size: 34px;
    color: #6E6E6E;
    position: absolute;
    transform: translateY(-80%) translateX(-80%); }
  .my-jobs .job-item {
    margin-bottom: 24px; }
    .my-jobs .job-item .job-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px; }
      .my-jobs .job-item .job-title .event-title {
        display: flex;
        justify-content: none;
        align-items: center;
        grid-column-gap: 16px; }
      .my-jobs .job-item .job-title .event-image {
        max-width: 52px;
        width: 100%; }
      .my-jobs .job-item .job-title h4 {
        font-size: 16px;
        line-height: 18px;
        color: black;
        font-weight: 600;
        font-family: "Rubik", sans-serif; }
      .my-jobs .job-item .job-title span {
        font-size: 24px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 600;
        font-family: "Rubik", sans-serif; }
      .my-jobs .job-item .job-title span:hover {
        cursor: pointer; }
    .my-jobs .job-item .job-request-response {
      padding: 24px;
      border-radius: 8px 8px;
      display: flex;
      flex-direction: column;
      grid-row-gap: 10px; }
      .my-jobs .job-item .job-request-response p {
        font-size: 14px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
      .my-jobs .job-item .job-request-response .request-reponse {
        display: flex;
        justify-content: none;
        align-items: center;
        grid-column-gap: 16px; }
        .my-jobs .job-item .job-request-response .request-reponse p {
          color: #0F6C07;
          font-weight: 500; }
        .my-jobs .job-item .job-request-response .request-reponse span {
          font-size: 24px;
          line-height: 18px;
          color: #0F6C07;
          font-weight: 500;
          font-family: "Rubik", sans-serif; }
      .my-jobs .job-item .job-request-response .acknowl-btn {
        display: flex;
        justify-content: right;
        align-items: center; }
        .my-jobs .job-item .job-request-response .acknowl-btn button {
          background-color: #0F6C07;
          color: white;
          font-size: 16px;
          font-weight: 600;
          padding: 10px 24px;
          border-radius: 8px 8px 0px 8px;
          border: none;
          outline: none; }
        .my-jobs .job-item .job-request-response .acknowl-btn button:hover {
          cursor: pointer; }

@media screen and (max-width: 576px) {
  .my-jobs {
    min-width: 400px;
    max-width: 400px; } }
@media screen and (max-width: 376px) {
  .my-jobs {
    min-width: 350px;
    max-width: 350px; } }
.main {
  display: grid;
  grid-column-gap: 18px;
  grid-template-columns: 270px auto 0px; }
  .main .left-col .standby-profile .standby-profile-pictures {
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 8px 8px 0px 0px; }
    .main .left-col .standby-profile .standby-profile-pictures .standby-profile-image {
      min-width: 110px;
      max-width: 110px;
      width: 100%;
      height: auto;
      margin-top: 44px;
      border-radius: 50%; }
  .main .left-col .standby-profile .about-user {
    border-radius: 0px 0px 8px 8px;
    margin-top: 64px;
    text-align: center;
    background: white; }
    .main .left-col .standby-profile .about-user h3 {
      font-size: 24px;
      color: black;
      font-weight: 600;
      font-family: "Rubik", sans-serif;
      margin-bottom: 10px; }
    .main .left-col .standby-profile .about-user .about-me {
      padding-inline: 8px;
      font-size: 14px;
      line-height: 18px;
      color: #6E6E6E;
      font-weight: 400;
      font-family: "Rubik", sans-serif;
      margin-bottom: 16px; }
    .main .left-col .standby-profile .about-user button {
      background-color: #0F6C07;
      color: white;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 24px;
      border-radius: 8px 8px 0px 8px;
      border: none;
      outline: none;
      margin-bottom: 16px; }
    .main .left-col .standby-profile .about-user button:hover {
      cursor: pointer; }
  .main .center-col .search {
    border: 0.2px solid #6E6E6E;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: white;
    margin-bottom: 24px; }
    .main .center-col .search input {
      width: 100%;
      border: 0.5px solid #0F6C07;
      height: 26px;
      border-radius: 28px;
      background-color: white;
      padding-inline: 24px;
      font-weight: 500;
      color: #6E6E6E; }
    .main .center-col .search input:focus {
      outline: 0.5px solid #0F6C07; }
  .main .center-col .event-item {
    padding-top: 16px;
    border-radius: 8px; }
  .main .center-col .event-item-header-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-inline: 8px; }
    .main .center-col .event-item-header-one .location {
      display: flex;
      justify-content: none;
      align-items: center;
      grid-column-gap: 8px; }
      .main .center-col .event-item-header-one .location .location-icon {
        font-size: 28px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
      .main .center-col .event-item-header-one .location p {
        font-size: 14px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
  .main .center-col .event-item-header-two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding-inline: 8px;
    margin-top: 16px; }
    .main .center-col .event-item-header-two .org-info {
      display: flex;
      justify-content: none;
      align-items: center;
      grid-column-gap: 8px; }
      .main .center-col .event-item-header-two .org-info .profile-image {
        max-width: 50px;
        max-height: 50px;
        width: 100%;
        border-radius: 50%; }
      .main .center-col .event-item-header-two .org-info .org-name .post-time {
        display: flex;
        align-items: center;
        margin-top: 8px; }
        .main .center-col .event-item-header-two .org-info .org-name .post-time p {
          font-size: 12px;
          line-height: 18px;
          color: #6E6E6E;
          font-weight: 400;
          font-family: "Rubik", sans-serif; }
        .main .center-col .event-item-header-two .org-info .org-name .post-time span {
          font-size: 8px;
          line-height: 18px;
          color: #0F6C07;
          font-weight: 400;
          font-family: "Rubik", sans-serif;
          margin-right: 8px; }
    .main .center-col .event-item-header-two .vacancy-info {
      display: flex;
      flex-direction: column;
      grid-row-gap: 8px; }
      .main .center-col .event-item-header-two .vacancy-info div {
        display: flex;
        align-items: center;
        justify-content: right; }
        .main .center-col .event-item-header-two .vacancy-info div span {
          font-size: 8px;
          line-height: 18px;
          color: #0F6C07;
          font-weight: 400;
          font-family: "Rubik", sans-serif;
          margin-right: 8px; }
        .main .center-col .event-item-header-two .vacancy-info div p {
          font-size: 12px;
          line-height: 18px;
          color: #6E6E6E;
          font-weight: 400;
          font-family: "Rubik", sans-serif; }
  .main .center-col .event-img {
    margin-top: 16px; }
    .main .center-col .event-img img {
      width: 100%;
      height: auto; }
  .main .center-col .event-summary {
    margin-top: 16px;
    padding-inline: 8px; }
    .main .center-col .event-summary p {
      font-size: 14px;
      line-height: 18px;
      color: #6E6E6E;
      font-weight: 400;
      font-family: "Rubik", sans-serif; }
  .main .center-col .event-req {
    display: flex;
    flex-direction: column;
    grid-row-gap: 16px;
    margin-top: 16px;
    padding-inline: 8px; }
    .main .center-col .event-req div {
      display: flex; }
      .main .center-col .event-req div p {
        font-size: 14px;
        line-height: 18px;
        color: black;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
  .main .center-col .event-card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    padding-inline: 8px;
    border-top: 0.5px solid #6E6E6E;
    padding-block: 16px; }
    .main .center-col .event-card-actions div {
      display: flex;
      justify-content: none;
      align-items: center;
      grid-column-gap: 8px;
      align-items: center; }
      .main .center-col .event-card-actions div .dots {
        font-size: 8px;
        line-height: 18px;
        color: #0F6C07;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
      .main .center-col .event-card-actions div p {
        font-size: 12px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
      .main .center-col .event-card-actions div .action-icon {
        font-size: 24px;
        line-height: 18px;
        color: #6E6E6E;
        font-weight: 400;
        font-family: "Rubik", sans-serif; }
    .main .center-col .event-card-actions .apply-btn {
      background-color: #0F6C07;
      color: white;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 24px;
      border-radius: 8px 8px 0px 8px;
      border: none;
      outline: none; }

@media screen and (max-width: 1200px) {
  .main {
    grid-template-columns: 270px auto 0px; } }
@media screen and (max-width: 775px) {
  .main {
    grid-template-columns: 0px auto 0px; }
    .main .standby-profile-outer {
      display: none; } }
.slide-in {
  transform: translateX(0px);
  transition: 0.5s; }

.slide-out {
  transform: translateX(600px);
  transition: 0.5s; }

.hide-extension {
  max-height: 50px;
  overflow-y: hidden;
  transition: 0.5s; }

.show-extension {
  max-height: 300px;
  overflow-y: hidden;
  transition: 0.5s; }

/*# sourceMappingURL=main.css.map */
